<div id="<%= dom_id cv %>">
  <p>
    <strong>Email:</strong>
    <%= cv.email %>
  </p>

  <p>
    <strong>Cvemail:</strong>
    <%= cv.cvemail %>
  </p>

  <p>
    <strong>Image:</strong>
    <%= cv.image %>
  </p>

  <p>
    <strong>Fullname:</strong>
    <%= cv.fullname %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= cv.phone %>
  </p>

  <p>
    <strong>Sociallink:</strong>
    <%= cv.sociallink %>
  </p>

  <p>
    <strong>Schoolcollege:</strong>
    <%= cv.schoolcollege %>
  </p>

  <p>
    <strong>Major:</strong>
    <%= cv.major %>
  </p>

  <p>
    <strong>Duration:</strong>
    <%= cv.duration %>
  </p>

  <p>
    <strong>Experience:</strong>
    <%= cv.experience %>
  </p>

  <p>
    <strong>Skills:</strong>
    <%= cv.skills %>
  </p>

  <p>
    <strong>Certification:</strong>
    <%= cv.certification %>
  </p>

</div>
