<%= render "header" %>

<h1 class="text-center">My CVs</h1>
<div class="row m-4">
  <% if @cvs %>
    <% @cvs.each do |cv| %>
<div class="col-6">
        <div class="card blue-grey darken-1">
          <div class="card-content white-text">
            <h1 class="text-center">CV</h1>
            <!-- <img id="preview-img" src="" alt="" srcset=""> -->
            <% if cv.fullname? || cv.email? || cv.phone? || cv.sociallink? %>
            <h3 id="preview-heading-profile">Profile</h3>
            <h5 id="preview-fullname"><%=cv.fullname %></h5>
            <h6 id="preview-email"><%=cv.email%></h6>
            <h6 id="preview-phone"><%=cv.phone%></h6>
            <h6 id="preview-sociallink"><%=cv.sociallink%></h6>
            <% end %>
            <% if cv.schoolcollege? || cv.major? || cv.duration? %>
            <h3 id="preview-heading-education" class="">Education</h3>
            <h5 id="preview-schoolcollege"><%=cv.schoolcollege%></h5>
            <h6 id="preview-major"><%=cv.major%></h6>
            <h6 id="preview-duration"><%=cv.duration%></h6>
            <% end %>
            <% if cv.experience? %>
            <h3 id="preview-heading-experience" class="">Experience</h3>
            <h6 id="preview-experience"><%=cv.experience%></h6>
            <% end %>
            <% if cv.skills? %>
            <h3 id="preview-heading-skills" class="">Skills</h3>
            <h6 id="preview-skills"><%=cv.skills%></h6>
            <% end %>
            <% if cv.certification? %>
            <h3 id="preview-heading-certification" class="">Certification</h3>
            <h6 id="preview-certification"><%=cv.certification%></h6>
            <% end %>
          </div>
          <div class="card-action">
            <a href="cvs/<%=cv.id%>">View</a>
          </div>
        </div>
  </div>
    <% end %>
    <% end %>
  </div>
